a {
    text-decoration: none;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin: 30px;
    
}

.cabecalho-menu-listaitem a{
    color: white
 }
  
.cabecalho-menu-listaitem a:hover{
    color: purple
}
   
.cabecalho-menu-listaitem a:active{
      color: red;
}

body{
    background-color: black;
}

.item {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
}

.imagem {
    max-width: 150px;
    border-radius: 8px;
    margin-right: 20px;

.descricao {
     max-width: calc(100% - 170px);
 }
    
h2 {
     margin-top: 0;
 }
 
 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}