body{
  background-color: black
  
  }
  
  .cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .cabecalho-imagem{
    width: 8%;
    border-radius: 50%;
    padding: 20px;
      
  }

  .cabecalho-menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin: 30px;
    
}

.sobre{
  display: flex;
  justify-content: center;
  align-items: center;

}

.sobre_texto{
  padding: 40px;
  color: white;
  margin-right: 71px;
}

.elementos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.elementos__div{
  text-align: center;
}

.elementos__imagem{
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.elementos__titulo{
  color: white;
}

.elementos__texto{
  color: white;
}

.sobre_texto-titulo{
  color: white;
}

a {
text-decoration: none;
}

.sobre_imagem{
  width: 850px;
  height: 450px;
  margin-left: 160px;
}

.cabecalho-menu-listaitem a{
  color: white;
}

.cabecalho-menu-listaitem a:hover{
  color: purple
 }
 
 .cabecalho-menu-listaitem a:active{
    color: red;
 }

 .rodape{
  text-align: center;
  padding: 15px 0;
}

.logo__rodape{
  width: 5%;
  border-radius: 50%;
  padding: 20px;
  
}