* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.cabecalho {
    background-color: #333;
    color: white;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.cabecalho-imagem {
    height: 50px;
}

.cabecalho-menu {
    display: flex;
}

.cabecalho-menu-lista {
    list-style: none;
    display: flex;
}

.cabecalho-menu-listaitem {
    margin: 0 10px;
}

.cabecalho-menu-listaitem a {
    color: white;
    text-decoration: none;
}

.main-content {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
}

.card-image {
    width: 200px; 
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    flex: 1;
}

.card-title {
    font-size: 24px;
    margin: 0 0 10px 0;
}

.card-description {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.card-text {
    display: block;
    margin: 10px 0;
}


.rodape {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.logo__rodape {
    height: 50px;
}
